@use "../../styles/vars" as *;
@use "../../styles/mixins" as *;

.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin: 2rem 0;
  h3 {
    color: $dark_red;
    font-size: 2rem;
  }

  @include responsiveNote(mobile) {
    h3 {
      font-size: 1rem;
    }
    img {
      width: 300px;
      height: 300px;
    }
  }
}
