// Colors
$dark_blue: #0077c8;
$deep_purple: #5E35B1;
$light_white: #f2f6fa;
$dark_orange: #f38020;
$med_teal:#00796B;
$dark_gray:#424242;
$dark_red:#be0027;

// Borders
$small_border_radius:5px;

// Transitions
$slow_transition:0.2s;

// Fonts
$small_font:1.2rem;