// Colors
$dark: #29323c;
$dark_gray: #424242;
$light_gray: #ccc;
$light_white: #f2f6fa;
$med_white: #e6e7ef;
$dark_blue: #0077c8;
$light_blue: #0099e5;
$lighter_blue: #90caf9;
$deep_purple: #5e35b1;
$dark_orange: #f38020;
$med_teal: #00796b;
$light_teal: #26a69a;
$lighter_teal: #80cbc4;
$dark_red: #be0027;
$light_red: #ff0000;
$light_green: #34bf49;
$blue_gray: #37474f;

// Borders
$small_border_radius: 5px;
$med_border_radius: $small_border_radius * 2;
$large_border_radius: $small_border_radius * 4;

// Transitions
$slow_transition: 0.5s;
$fast_transition: 0.2s;

// Fonts
$small_font: 1.2rem;
$med_font: 1.5rem;
$large_font: 2rem;
