@use "../../../styles/vars" as *;

.user-notes {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
   .error{
        margin-top: 0.5rem;
        font-size: 1.3rem;
        color: $dark_red;
      }

  .no-notes {
    font-size: 3rem;
    margin-top: 2rem;
    a {
      color: $med_teal;
      text-decoration: underline;
    }
  }

  .all-notes {
    margin: 2rem 0;
    width: 50vw;
    display: flex;
    flex-direction: column;

    input {
    padding: 0.5rem;
    caret-color: $dark_blue;
    font-size: $small_font;
    border-radius: $small_border_radius;
    border: none;
    margin: 0 auto 2rem;
    width: 50%;
    &:focus,
    &:active {
      outline: none;
    }
  }

    h4 {
      font-size: 1.5rem;
      font-style: italic;
      font-weight: 400;
      user-select: none;
      .signs {
        color: $dark_blue;
        font-size: 1rem;
      }

      .number {
        color: $dark_orange;
        font-size: 2rem;
        font-weight: 700;
      }
    }

    .total-button-box {
      display: flex;
      justify-content: space-between;
      align-items: center;

      a {
        font-size: 1.5rem;
        color: $med_teal;
        text-decoration: underline;
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 3rem;
    }
  }
}
