@use "../../styles/vars" as *;
@use "../../styles/mixins" as *;

.home {
  background-image: url("../../assets/images/home.jpg");
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  overflow-x: hidden;

  img {
    position: absolute;
    top: 6%;
    left: 0;
    width: 600px;
    transform: rotateY(180deg);
  }

  h2 {
    font-size: 2rem;
    font-weight: 400;
    position: absolute;
    top: 15%;
    left: 42%;
    color: $med_teal;
  }

  .notes {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: absolute;
    top: 30%;
    left: 34%;
    font-size: $small_font;
    font-style: italic;
    font-weight: 700;
    color: $blue_gray;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    position: absolute;
    top: 60%;
    left: 34%;
    a {
      color: $blue_gray;
      text-align: center;
      padding: 0.5rem 1rem;
      border: 1px solid $med_teal;
      font-weight: 700;
      border-radius: $small_border_radius;
      background-color: transparent;
      cursor: pointer;
      transition: $slow_transition;

      &:hover {
        color: $light_white;
        background-color: $med_teal;
      }
    }
  }
}

@include responsiveNote(desktop) {
  .home {
    img {
      top: 2%;
      left: 40%;
      width: 300px;
    }

    h2 {
      font-size: $med_font;
      top: 25%;
      left: 40%;
    }

    .notes {
      top: 35%;
      left: 32%;
      font-size: 1rem;
    }

    .buttons {
      gap: 4rem;
      top: 45%;
      left: 57%;
      a {
        padding: 0.5rem 3rem;
      }
    }
  }
}

@include responsiveNote(tablet) {
  .home {
    img {
      top: 2%;
      left: 40%;
      width: 300px;
    }

    h2 {
      font-size: $med_font;
      top: 25%;
      left: 38%;
    }

    .notes {
      gap: 3rem;
      top: 35%;
      left: 25%;
      font-size: 1rem;
    }

    .buttons {
      gap: 4rem;
      top: 45%;
      left: 60%;
      a {
        padding: 0.5rem 3rem;
      }
    }
  }
}

@include responsiveNote(mobile) {
  .home {
    img {
      left: 25%;
      width: 200px;
    }

    h2 {
      font-size: $small_font;
      top: 25%;
      left: 22%;
    }

    .notes {
      gap: 3rem;
      top: 40%;
      left: 1%;
      font-size: 1rem;
    }

    .buttons {
      gap: 2rem;
      top: 80%;
      left: 25%;
      a {
        padding: 0.5rem 3rem;
      }
    }
  }
}
