@use "../../styles/vars" as *;

.navbar {
  color: $light_white;
  background-color: $deep_purple;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.5rem;
  font-weight: 700;

  h1 {
    user-select: none;
  }

  ul {
    display: flex;
    gap: 2rem;

    a {
      color: $light_white;
      border-radius: $small_border_radius;
      padding: 0.5rem 2rem;
      font-size: $small_font;
    }
  }

  .active {
    background-color: $med_teal;
  }

  button{
    font-size: $small_font;
    background-color: $dark_red;
    border: none;
    color: $light_white;
    padding: 0.5rem 2rem;
    border-radius: $large_border_radius;
    transition: $fast_transition;
    &:hover{
      background-color: $light_red;
    }
  }
}
