@use "../../../styles/vars" as *;
@use "../../../styles/mixins" as *;

.single-note {
  max-width: 100%;
  background-color: $light_white;
  border-radius: $med_border_radius;
  font-size: $med_font;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  .note-content {
    text-align: center;
    padding: 1rem;

    h3 {
      text-decoration: wavy underline $dark_blue;
    }

    p {
      text-align: start;
      text-align: justify;
      margin: 1rem 0;
    }
  }

  .note-tools {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: $med_border_radius;
    border-top-left-radius: $small_border_radius;
    border-top-right-radius: $small_border_radius;
    padding: 0.2rem 1rem;
    background-color: $dark_gray;
    color: $light_white;
    position: relative;
    .tools {
      .lottie {
        position: absolute;
        bottom: -1.2rem;
        left: 0;
        cursor: pointer;
      }
    }

    .droplist {
      position: absolute;
      right: 99.7%;
      top: 0;
      transform: rotate3d(1, 1, 1, 120deg);
      transition: all $slow_transition;
      z-index: 11;
      &.animate-droplist {
        transform: rotate3d(1, 1, 1, 720deg);
      }
      h3 {
        text-align: center;
        font-size: 1rem;
        color: $light_white;
        background-color: #292d43;
        padding: 0.5rem;
      }
      .list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 1rem;
        padding: 1rem;
        justify-items: center;
        background-color: #31364e;
      }
    }

    .text-picker {
      // position: absolute;
      // left: calc(100% / 3);
      margin-right: 10rem;
      margin-bottom: 3rem;

      .text-colors {
        position: relative;
        cursor: crosshair;
        z-index: 100;
        .pick-one {
          background-color: $light_white;
          color: #000;
          font-weight: bold;
          border-radius: 0.5rem;
          padding: 5px;
          text-align: center;
          height: 3rem;
          width: 16rem;
          position: absolute;
          z-index: 100;
          transform-origin: left center;
          transition: all 1s;

          &::before {
            content: "";
            width: 10px;
            height: 10px;
            background-color: $dark;
            border: 3px solid $dark_blue;
            position: absolute;
            left: 5%;
            top: 30%;
            border-radius: 50%;
          }
        }
      }
    }

    .delete {
      position: relative;

      button {
        color: $light_white;
        margin: 0.5rem 0;
        padding: 0.3rem 1rem;
        font-size: $small_font;
        border: 2px solid $dark_red;
        background-color: transparent;
        border-radius: $small_border_radius;
        cursor: pointer;
        transition: $fast_transition;

        &:hover {
          background-color: $dark_red;
        }
      }

      p {
        width: 200%;
        position: absolute;
        top: -2rem;
        right: -3rem;
        font-size: 1rem;
        color: $dark_blue;
        animation: show-p $fast_transition linear;
      }
    }
  }

  @include responsiveNote(tablet) {
    font-size: $med_font;

    .note-tools {
      .tools {
        button {
          font-size: 1rem;

          img {
            width: 20px;
            height: 20px;
          }
        }
      }

      .delete {
        button {
          font-size: 1rem;
          margin: 0.5rem;
        }
      }
    }
  }

  @include responsiveNote(mobile) {
    font-size: $small_font;

    .note-tools {
      padding: 0.2rem;
      .tools {
        button {
          padding: 0.5rem;
          font-size: 1rem;

          img {
            width: 20px;
            height: 20px;
          }
        }
      }

      .delete {
        button {
          font-size: 1rem;
          margin: 0.5rem;
        }
      }

      .droplist {
        right: 0;
        top: 0;
      }

      .text-picker {
        margin: 0;

        .text-colors {
          position: absolute;
          bottom: calc(100% + 2rem);
          left: calc(100% - 7rem);
          .pick-one {
            height: 2rem;
            width: 7rem;
            border-top-right-radius: 0;
            &::before {
              width: 3px;
              height: 3px;
              top: 35%;
              left: 3%;
            }
          }
        }
      }
    }
  }
}

// (Double click to confirm deletion) paragraph.
@keyframes show-p {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
