@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kalam", cursive;
  overflow-x: hidden;
  background-color: #e6e7ef;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  -webkit-user-drag: none;
}
