@use "../../styles/vars" as *;

.auth {
  display: flex;
  height: 100vh;

  .wave-background {
    width: 60%;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url("../../assets/images/wave_Light.png");
    background-size: cover;
    position: relative;
    img {
      width: 500px;
      height: 500px;
      position: absolute;
      bottom: 0;
      left: 10%;
    }
  }
}
