@use "../../styles/vars" as *;

.auth {
  display: flex;
  height: 100vh;
  .wave-background {
    width: 60%;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url("../../assets/images/wave_Light.png");
    background-size: cover;
    position: relative;
    img {
      width: 500px;
      height: 500px;
      position: absolute;
      bottom: 0;
      left: 10%;
    }
  }

  .content {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;

    .user {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      margin: 0 10%;
      img {
        width: 200px;
        height: 200px;
      }

      h3 {
        font-size: $large_font;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 2.5rem;
      width: 50%;

      .field {
        display: flex;
        flex-direction: column;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          width: 0%;
          height: 3px;
          background-color: $light_teal;
          transition: $slow_transition;
          bottom: 0;
          left: 50%;
        }

        &.borders {
          &::before {
            width: 100%;
            left: 0;
          }
        }

        &.labels {
          label {
          font-size: 1rem;
            bottom: 100%;
          }
        }

        input {
          width: 100%;
          height: 40px;
          border: none;
          border-bottom: 2px solid;
          border-color: $light_gray;
          background-color: transparent;
          font-size: $med_font;
          caret-color: $light_green;
          outline: none;
        }

        label {
          font-size: $small_font;
          position: absolute;
          left: 0;
          bottom: 0;
          transition: $slow_transition;
          color: $dark_gray;
        }
      }

      button {
      }
    }
  }
}
